<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>

    <p>Voici la page du potin n°<%= id %></p><br>
    <p>Son auteur : ==<%= author %>==</p><br>
    <p>Le contenu du potin : <%= content %></p><br>
    <a href="/gossips/<%= id %>/edit/">Modifier</a>
    <a href="/">Revenir à la page des potins</a>

  </body>
</html>
